@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
 
*{
    margin: 0;
    padding: 0;
}
body{
        background-color: hsl(47, 88%, 63%);
        font-family: "Figtree", sans-serif;
}
.box{
    background-color: white;
    padding: 20px;
    height: 478px;
    border-radius: 10px;
    width: 300px;
    border: solid 2px;
    box-shadow: 10px 10px 10px black;
    margin: 50px auto;
    position: relative;
              
}
.image{
    border-radius: 10px;
    height: 180px;

}
.bottom{
    display: flex;
        height: 40PX;
        gap: 20px;
        padding: 2px 2px 2px 2px;
        margin-top: 40px;
}
.learn{
    background-color:hsl(47, 88%, 63%);
    width: 65px;
    padding: 2px 5px;
    margin: 6px 0px 6px 0px ;
    font-weight: bold;
    border: solid 2px hsl(47, 88%, 63%); 
    border-radius: 4px; 
}
@media screen and (max-width:500px){
    body{
        height: 100vh;
        background-color: hsl(47, 88%, 63%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
 }